.products_row {
  max-width: 1170px;
  margin: 0 auto;
  padding-left: 10px;
  margin-bottom: 20px;

  h2 {
    position: relative;
    padding: 15px;
    color: #222222;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 600;
    background: #f2f2f2;
    margin-bottom: 0;
  }

  .product_categories {
      list-style: none;

      li {
          padding: 15px;
          color: #464646;
          border-top: 1px solid #eeeeee;
      }
  }

  .categories_col {
    border: 1px solid #eeeeee;
    border-radius: 4px 4px 0 0;
  }
}
.ant-breadcrumb {
  font-size: 12px;
  color: #7d7d7d;
  text-transform: uppercase;
  font-weight: 600;
}
